*{margin: 0;padding: 0;}
img{border: none;}
a{text-decoration: none;}

#wrapper{
    width: 1000px;
    margin:0 auto;
}
#page{
    background:transparent url('../../Library/images/container-bg.jpg') repeat-y;
    float: left;
    width: 1000px;
}
/* #sidebar */
#sidebar{
    overflow: hidden;
    width: 200px;
    float: left;
    background:transparent url('../../Library/images/bg_nav.gif') no-repeat;
}
#main-menu{
    background:transparent url('../../Library/images/bg_nav.gif') no-repeat;
}
.wrap-main-menu{
    padding: 7px;
    overflow: hidden;
    margin-top:35px;
}
.bg-main-menu{
    background:transparent url('../../Library/images/bg_nav_left.gif') no-repeat;
    height: 29px;
    margin-bottom: 15px;
    display: block;
}
.main-menu-text,.bg-main-menu span{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 29px;
    font-weight: bold;
    display: block;
}
#sidebar .wrap-menuleft{
    position:absolute;
    width:220px;
}
#sidebar .menuleft-header{
    background:transparent url('../../Library/images/menuleft_header.gif') no-repeat;
    height: 69px;
    position:relative;
    width:220px;
}
#sidebar .menuleft-header span{
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    display: block;
    padding-top:35px;
}
#sidebar .menuleft-bg{
    background:transparent url('../../Library/images/menuleft_bg.jpg') repeat-y;
    margin-left:15px;
    padding-left: 20px;
    padding-top: 10px;
    width:180px;
    color: #8fd85e;
}
#sidebar .menuleft-bg a{
    color: #8fd85e;
    font-weight: bold;
}
#sidebar .menuleft-bg a:hover{
    text-decoration: underline;
}
#sidebar .menuleft-bottom{
    background:transparent url('../../Library/images/menuleft_bottom.jpg') no-repeat;
    height:22px;
    margin-left:15px;
}


/* content   */
#banner{
    width: 800px;
    background:transparent url('../../Library/images/banner1.jpg') no-repeat;
    height: 215px;
    float: left;
}
#content-top{
    background:transparent url('../../Library/images/content-top.jpg') no-repeat;
    float: left;
    width: 800px;
}
#main-content{
    width:800px;
    float: left;
}
#main-content .wrap-menu_left{
    padding: 7px;
    float: left;
}
#main-content .menu_left{
    width: 200px;
    float: left;
    display: block;
}
#main-content .wrap-main-content{
    width: 800px;
    float: left;
}
#main-content .wrap-content{
    padding: 45px;
}
#main-content .content-bg-title{
    background:transparent url('../../Library/images/post.jpg') no-repeat;
    height: 25px;
}
#main-content .content-bg-title .content-title{
    font-size:1.2em;
    height:28px;
    padding-left:32px;
    color: #034940;
    font-weight: bold;
}
.content-data{
    padding: 10px 0 0 15px;
    overflow: hidden;
}
.content-data .frameproduct{
    background:transparent url('../../Library/images/frame_product.gif') no-repeat;
    height: 270px;
    margin: 0 15px 20px 0;
    width: 200px;
    float: left;
}
.frameproduct .frameproduct-body{
    padding: 10px;
    height: 250px;
}
.frameproduct-body a.p-name{
    color: #068a40;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    display: block;
    overflow: hidden;
    height: 34px;
}
.frameproduct-body a.p-name:hover{
    text-decoration: underline;
}
.frameproduct-body .p-image{
    padding: 5px;
    display:block;
    width: 170px;
}
.frameproduct-body .p-price{
    color: red;
    text-align: center;
    display: block;
    height: 25px;
}
.frameproduct-body .p-button{
    color: #FFFFFF;
    text-align: center;
    display: block;
}


/* button*/
.button-large{
    background:transparent url('../../Library/images/button-border-left.gif') no-repeat;
    float:left;
    width:8px;
}
.button-large span{
    height:32px;
    line-height:32px;
    padding:0 18px 0 10px;
    background:transparent url('../../Library/images/button-border-right.gif') no-repeat right center;
    float: left;
    margin-left: 8px;
}
.button-small{
    background:transparent url('../../Library/images/button-border-left-small.gif') no-repeat;
    width:6px;
    display:inline-table;
}
.button-small span{
    height:25px;
    line-height:25px;
    padding:0 18px 0 10px;
    background:transparent url('../../Library/images/button-border-right-small.gif') no-repeat right center;
    margin-left: 6px;
    display:inline-block;
    white-space:nowrap;
}

/*  #footer */
#footer{
    background:transparent url('../../Library/images/footer.jpg') no-repeat;
    width: 1000px;
    height: 115px;
    float: left;
}
#coppyright{
    background:transparent url('../../Library/images/bg_coppyright.gif') no-repeat;
    height: 57px;
    width: 1000px;
    float: left;
}
#coppyright div{
   float: right;
   width: 400px;
   font-weight: bold;
   color: #016a42;
   padding-right: 30px;
   text-align: center;
}